.card-list {
  padding: 25px 100px 0;
  .spinner{
    height: 48px;
    color: #f9f903de;
    padding: 25px 25px 50px;
  }
  .cards-container {
    display: flex;
    grid-gap: 30px 24px;
    margin-top: 0;
    margin-bottom: 40px;
    flex-wrap: wrap;

    .card-wrapper {
      flex: 0 0 32%;
      width: 32%;
      min-height: 250px;

      .card {
        box-shadow: 0 1px 2px 1px rgba(90, 90, 90, .16);
        border-radius: 10px;
        position: relative;
        height: 100%;
        
        &:hover {
          cursor: pointer;
          box-shadow: 0 1px 4px 1px rgba(0, 0, 0, .18);
        }

        .image-carousel {
          .img-container {
            height: 250px;
            min-height: 250px;
            width: 100%;
            position: relative;

            .land-image {
              height: 100%;
              object-fit: cover;
              width: 100%;
            }

            img {
              border-top-left-radius: 10px;
              border-top-right-radius: 10px;
            }
          }

          .carousel-overlay {

            .carousel-button.right,
            .carousel-button.left {
              top: 30%;
              position: absolute;
              outline: 0;
              transition: all .5s;
              border-radius: 35px;
              z-index: 1000;
              border: 0;
              min-width: 43px;
              min-height: 43px;
              cursor: pointer;
              opacity: .7;
              background: #fff !important;
            }

            .carousel-button.right {
              right: calc(4% + 1px);
            }

            .carousel-button.left {
              left: calc(4% + 1px);
            }
          }

          .badge-option {
            position: absolute;
            z-index: 1;
            top: 10px;
            cursor: default;
            right: 0;
            display: flex;
            flex-wrap: wrap;

            .item {
              padding: 6px 6px 3px;
              height: 30px;
              width: 30px;
              background-color: #fff;
              border-radius: 100%;
              margin-right: 10px;
              cursor: pointer;
              align-content: center;

              img {
                height: 18px;
              }
            }
          }
        }

        .image-description {
          padding: 15px 20px;

          .title {
            color: #000;
            font-size: 18px;
            font-weight: 700;

            .sub-title {
              display: flex;
              align-items: center;
              gap: 24px;

              div img {
                margin-left: 30px;
                height: 18px;
              }
            }

            .dist {
              text-align: left;
            }
          }

          .details {
            font-size: 14px;
            font-weight: 400;
            color: #000;
            margin-top: 10px;
            text-align: left;
          }
        }
      }
    }

  }
}

@media (max-width: 600px) {
  .card-list {
    padding: 10px;
    .card-wrapper{
      width: 100% !important;
      flex: 0 0 100% !important;
    }
  }
}